@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: grey;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin-top: 16px;
  padding: 8px 12px;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
}

.header > ul {
  display: flex;
  gap: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
  margin: auto 0 0 0;
}

.footer > ul {
  display: flex;
  gap: 12px;
}